.filters {
    color:white;
    height:70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius:  4px;
    position:absolute;
	background: white;
	text-align: right;
	line-height: 5;

}

button
{
	display: block;
	background-color: #FF5A5F;
	color: white;
	height: 48px;
	width: 20%;
	border: none;
	font-size: 18px;
	border-radius: 4px;
	position: relative;
	float: right;
	margin-right: 30px;
	top:50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

button:hover
{
	opacity: 0.9;
}

.amenities
{
	color: black;
	height: 100%;
	width: 25%;
	float: left;
	line-height: 23px;
	padding-left: 3%;
	text-align: left;
}

.locations
{
	color: black;
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	float: left;
	line-height: 23px;
	padding-left: 3%;
	text-align: left;
}


.filters h3
{
	font-weight: 600;
	margin: 0 auto;
	padding-left: 10%; 
	padding-top: 4%;
}
  
.filters h4
{
	font-weight: 400;
	font-size: 14px;
	margin: 0 auto;
	padding-left: 10%;
}

.popover
{
	background: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	list-style-type: none;
	padding-bottom: 20px;
	padding-left: -30%;
	display: none;
	position: relative;
	margin-left: -12.5%;
	width: 96%;
}

.popover h2
  {
	  margin-top: 25px;
	  margin-left: -10px;
  }
  .locations .popover ul
  {
	  list-style-type: none;
	  margin-left: -10px;
	  margin-top: -15px;
	  margin-bottom: 10px;
  }
  .locations:hover .popover
  {
	  display: block;
  }
  .amenities .popover
  {
	  padding-right: 30%;
	  padding-bottom: 40px;
	  margin-left: -12.5%;
  }
  .amenities .popover li
  {
	  margin-top: 20px;
	  margin-left: 10px;
  }
  .amenities:hover .popover
  {
	  display: block;
  }
  
